<app-navigation
  [items]="(groupNavigation$ | async) || []"
  [currentId]="(currentId$ | async ) || ''"
  (clickedItem)="onGroupClick($event)"
  (itemChanged)="onItemChanged($event)"
>
  <button ngProjectAs="[custom-actons]"
    mat-stroked-button
    (click)="onAddGroup()"
  >
    <mat-icon fontIcon="add"></mat-icon> Add new Group
  </button>
</app-navigation>

<div class="group-content">
  <app-toolbar header="Roles"/>

  <ul class="roles-list">
    <li *ngFor="let role of (roles$ | async)" class="roles-list__item">
      <mat-checkbox [checked]="role.checked">{{ role.name }}</mat-checkbox>
    </li>
  </ul>

  <div class="group-actions">
    <button
      mat-stroked-button
      (click)="onSaveRoles()"
    >
      Save roles
    </button>
  </div>
</div>