:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
    padding-bottom: 8px;
}

.toolbar__header {
    margin: 0;
    font-weight: 400;
}

.toolbar__actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}