:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toolbar__header {
    margin: 0;
    font-weight: 400;
}

.toolbar__actions {
    display: flex;
    align-items: center;
    gap: 16px;
}