<h2 class="toolbar__header">{{ header() }}</h2>

<div class="toolbar__actions">
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput [formControl]="searchControl" placeholder="Search">
  </mat-form-field>
  
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Filter</mat-label>
    <mat-select [value]="defaultFilter.value" (selectionChange)="filterChanged.emit($event)">
      @for (option of options; track option.value) {
        <mat-option [value]="option.value"> {{option.label}} </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
