:host {
    display: block;
    box-sizing: border-box;
    height: 100%;
    padding: 12px;
}

.permissions__header {
    position: relative;
}

.permissions__header-title {
    margin: 0;
}

mat-tab-group {
    position: relative;
    top: -38px;
}